// Normalize
@use './normalize.scss';

// Global Styles
body {
  background: #121212;
}

.container {
  max-width: 1368px;
  margin: 0 auto;
}

// Text Styles
h1,
h2,
h3,
h4,
h5,
h6,
p,
.subtitle2,
.body1,
.caption {
  color: #ffffff;
}

h1 {
  font: normal 60px 'Proza Libre';

  &.section-title {
    text-align: center;
    margin-top: 160px;
    margin-bottom: 80px;
  }
}

h2 {
  font: normal 48px 'Proza Libre';
}

h4 {
  font: normal 34px 'Proza Libre';
  opacity: 0.87;

  &.section-title {
    margin-top: 128px;
    margin-bottom: 128px;
    text-align: center;
  }
}

h5 {
  font: normal 24px 'Proza Libre';
}

h6 {
  font: normal 20px 'Proza Libre';
}

h6.logo {
  font: bold 24px 'Proza Libre';

  a {
    color: #ffffff;
  }
}

.subtitle2 {
  font: 600 14px 'Open Sans';
  opacity: 0.6;
}

.body1 {
  font: normal 16px 'Open Sans';
  opacity: 0.6;
  letter-spacing: 0.3px;
  line-height: 24px;
}

.caption {
  font: normal 12px 'Open Sans';
  opacity: 0.6;
}

input {
  font: normal 16px 'Open Sans';
  letter-spacing: 0.3px;
}

// Component Styles
.btn {
  background: #fc5c9c padding-box;
  box-shadow: 0px 1px 3px #00000033;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 50px;
}

a.btn {
  color: #ffffff;
  text-transform: uppercase;
  font: normal 14px 'Open Sans';
}

.card {
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
}
